/* colors */

$white: #fff;
$gray: #666;
$dark_gray: #333;
$light_gray: #aaa;
$lighter_gray: #b6b6b6;
$lightest_gray: #ccc;

$red: #900;
$dark_red: #d00;
$light_red: #f00;

$orange: #f90;

$green: #6c0;


/* border */

$default_radius: 8px;


/* mixin */

@mixin clearfix {
  &:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@mixin transaction-form($width) {
  $input_padding: 4px;
  $to_width: $width * 0.7;
  $amount_width: $width * 0.3;
  form {
    @include clearfix;
    label {
      font-weight: bold;
    }
    input {
      &:not([type=submit]) {
        font-size: 24px;
        padding: $input_padding;
      }
      &[type=submit] {
        float: right;
      }
    }
    .to, .amount {
      float: left;
    }
    .to {
      margin-right: 10px;
      width: $to_width;
      input {
        width: $to_width - $input_padding * 2;
      }
    }
    .amount {
      width: $amount_width;
      input {
        width: $amount_width - $input_padding * 2;
      }
    }
  }
}