/* colors */

$white: #fff;
$gray: #666;
$dark_gray: #333;
$light_gray: #aaa;
$lighter_gray: #b6b6b6;
$lightest_gray: #ccc;

$red: #900;
$dark_red: #d00;
$light_red: #f00;

$orange: #f90;

$green: #6c0;


/* border */

$default_radius: 8px;


/* util */

.clearfix {
  &:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}