@import "common_variables";

body.dashboard {
  article {
    aside {
      background: $white;
      border: 8px solid $lightest_gray;
      border-radius: $default_radius;
      padding: 10px;
      margin: 15px 0;
      img {
        width: 55px;
        height: 55px;
        float: left;
        margin-right: 10px;
      }
    }
    @include transaction-form(330px);
    @media only screen and (max-width: 479px) {
      @include transaction-form(240px);
    }
  }
}