@import "common_variables";

h1, h2, h3, h4, strong, b {
  font-weight: 600;
}
a {
  color: $gray;
  text-decoration: none;
  &:hover {
    color: $dark_gray;
  }
}
ul {
  list-style: none;
}
input {
  &[type=submit] {
    -webkit-box-shadow: $white 0px 0.08em 0.2em 1px inset;
    background: $white -webkit-gradient(
      linear, left top, left bottom,
      from($white),
      to($lighter_gray)
    );
    border: 1px solid $lighter_gray;
    border-radius: $default_radius;
    color: $gray + #111;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
    padding: 0.3em 1em;
    text-shadow: $white 0px 1px 1px;
    vertical-align: middle;
    &:hover, &:focus {
      background-image: -webkit-gradient(
        linear, left top, left bottom,
        from($white),
        to($light_gray)
      );
    }
    &:active {
      -webkit-box-shadow: $lighter_gray 0px 0.08em 0.2em 1px inset;
      background-image: -webkit-gradient(
        linear, left top, left bottom,
        from($lightest_gray),
        to($lightest_gray)
      );
    }
  }
  &:not([type=submit]) {
    &:valid {
      background: #dfd;
    }
    &:invalid {
      background: #fdd;
    }
  }
}

body {
  &> header {
    background: url(/assets/logo.png) no-repeat top left;
    color: $gray;
    height: 60px;
    padding: 3px 0 0 65px;
    a {
      color: $dark_gray;
      &:hover {
        color: $gray;
      }
    }
  }
  &> footer {
    $font-size: 13px;
    color: $gray;
    font-size: $font-size;
    text-align: right;
    ul {
      li {
        display: inline-block;
        &:not(:first-child) {
          margin-left: 15px;
        }
      }
    }
    input[type=submit] {
      font-size: $font-size;
    }
    @media only screen and (max-width: 479px) {
      font-size: $font-size - 2px;
    }
  }
  &> .main {
    padding: 30px 0;
    @include clearfix;
  }
}

