@import "common_variables";

#gritter-notice-wrapper {
  .gritter-title, p {
    line-height: 16px;
  }
  .error .gritter-title {
    color: $light_red;
  }
  .warn .gritter-title {
    color: $orange;
  }
  .notice .gritter-title {
    color: $green;
  }
}

input:not([type=submit]) {
  &:valid {
    background: #dfd;
  }
  &:invalid {
    background: #fdd;
  }
}

a {
  text-decoration: none;
}

body > header {
  height: 60px;
  padding: 3px 0 0 65px;
  background: url(/assets/logo.png) no-repeat top left;
  h1 {
    font-weight: normal;
  }
  p {
    color: $gray;
  }
  a {
    color: $gray - #333;
    &:hover {
      color: $gray
    }
  }
}

body > .main {
  padding: 30px 10px;
}

body > footer {
  color: $gray;
  font-size: 13px;
  text-align: right;
  a {
    color: $gray;
    text-decoration: none;
    &:hover {
      color: $gray - #333;
    }
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      padding-left: 15px;
    }
  }
}