<footer class="page_footer">
  <%= render 'sessions/destroy' if authenticated? %>
  <ul>
    <li><small>&copy; <%= link_to 'nov matake', 'http://matake.jp'%></small></li>
    <li>powered by <%= link_to 'PicoMoney.com', 'http://picomoney.com' %></li>
  </li>
</footer>